@(Html.DevExtreme().Popup()
    .ID("popup")
    .Width(550)
    .Height(350)
    .Visible(true)
    .ShowTitle(false)
    .CloseOnOutsideClick(false)
    .ContentTemplate(new TemplateName("popup-template"))
)

@using (Html.DevExtreme().NamedTemplate("popup-template")) {
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>
            <img src="../../Content/Images/Popup-Scrolling-Image.jpg" class="center" />
            <div id="textBlock">
                The <b>ScrollView</b> allows users to scroll its content vertically. To enable horizontal and vertical scrolling, set the <b>direction</b> option to <i>&quot;both&quot;</i>. Horizontal scrolling is available only if the content is wider than the <b>ScrollView</b>. Otherwise, the content adapts to the widget&apos;s width.<br /><br />The <b>ScrollView</b> uses native scrolling on most platforms, except desktops. To use it on all platforms, assign <b>true</b> to the <b>useNative</b> option. If you assign <b>false</b>, scrolling is simulated on all platforms.
            </div>
        </text>)
    )
}
