.form {
    margin-left: 3px;
}

.label {
    font-size: 22px;
}

#product-details {
    width: 400px;
    height: 400px;
    margin: 20px auto 0;
}

#product-details > img {
    height: 300px;
    width: 400px;
}

#product-details > .name {
    text-align: center;
    font-size: 20px;
}

#product-details > .price {
    text-align: center;
    font-size: 24px;
}

.dark #product-details > div {
    color: #f0f0f0;
}

.options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: rgba(191, 191, 191, 0.15);
}

.option {
    margin-top: 10px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.hidden {
    visibility: hidden;
}