<div id="chart-demo">
    @(Html.DevExtreme().Chart()
        .ID("line-chart")
        .Palette(VizPalette.Violet)
        .CommonSeriesSettings(s => s
            .ArgumentField("Country")
            .Type(SeriesType.Line)
        )
        .Margin(m => m.Bottom(20))
        .ArgumentAxis(a => a
            .ValueMarginsEnabled(false)
            .DiscreteAxisDivisionMode(DiscreteAxisDivisionMode.CrossLabels)
            .Grid(g => g.Visible(true))
        )
        .Series(s => {
            s.Add().ValueField("Hydro").Name("Hydro-electric");
            s.Add().ValueField("Oil").Name("Oil");
            s.Add().ValueField("Gas").Name("Natural gas");
            s.Add().ValueField("Coal").Name("Coal");
            s.Add().ValueField("Nuclear").Name("Nuclear");
        })
        .Legend(l => l
            .VerticalAlignment(VerticalEdge.Bottom)
            .HorizontalAlignment(HorizontalAlignment.Center)
            .ItemTextPosition(Position.Bottom)
        )
        .Title(t => t
            .Text("Energy Consumption in 2004")
            .Subtitle(s => s.Text("(Millions of Tons, Oil Equivalent)"))
        )
        .Export(e => e.Enabled(true))
        .Tooltip(t => t.Enabled(true))
        .DataSource(new[] {
            new { Country = "USA", Hydro = 71.2, Oil = 910.4, Gas = 483.2, Coal = 564.3, Nuclear = 216.1 },
            new { Country = "China", Hydro = 72.5, Oil = 223.6, Gas = 36.0, Coal = 956.9, Nuclear = 11.3 },
            new { Country = "Russia", Hydro = 47.7, Oil = 149.4, Gas = 432.3, Coal = 105.0, Nuclear = 29.3 },
            new { Country = "Japan", Hydro = 17.9, Oil = 283.6, Gas = 61.8, Coal = 120.8, Nuclear = 52.8 },
            new { Country = "India", Hydro = 14.4, Oil = 86.4, Gas = 25.1, Coal = 204.8, Nuclear = 3.8 },
            new { Country = "Germany", Hydro = 6.6, Oil = 101.7, Gas = 92.7, Coal = 85.7, Nuclear = 30.8 }
        })
    )

    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            <span>Series Type</span>
            @(Html.DevExtreme().SelectBox()
                .DataSource(new[] {
                    SeriesType.Line,
                    SeriesType.StackedLine,
                    SeriesType.FullStackedLine
                })
                .Value(SeriesType.Line)
                .InputAttr("aria-label", "Series Type")
                .OnValueChanged(@<text>
                    function (e) {
                        $("#line-chart").dxChart("option", "commonSeriesSettings.type", e.value);
                    }
                </text>)
            )
        </div>
    </div>
</div>
