#container {
    display: flex;
}
  
.calendar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .weekend,
.dx-calendar-cell:not(.dx-calendar-other-month) .holiday {
    text-shadow: none;
    font-weight: bold;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .weekend {
    color: #3030FF;
}

.dx-state-disabled.dx-calendar .dx-calendar-cell:not(.dx-calendar-other-month) .weekend {
    color: #8080FF;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .holiday {
    color: #FF3030;
}

.dx-state-disabled.dx-calendar .dx-calendar-cell:not(.dx-calendar-other-month) .holiday {
    color: #FF8080;
}

.dx-calendar-week-number-cell .week-number {
    font-style: italic;
}

.caption {
    font-weight: 500;
    font-size: 18px;
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

.option {
    margin-top: 10px;
}

.section {
    margin-top: 10px;
    text-decoration: underline;
}
