utils/Angular/*
utils/AngularJS/*
utils/jQuery/*
utils/Knockout/*
utils/React/*
utils/Vue/*
node_modules/*
MVCDemos/*
NetCoreDemos/*
JSDemos/node_modules/*
JSDemos/Demos/**/React/*
JSDemos/Demos/**/Vue/*
JSDemos/Demos/**/testcafe-test-code.js
JSDemos/Demos/**/azure-file-system.js
