# See http://help.github.com/ignore-files/ for more about ignoring files.

node_modules

bin
obj
lib
NuGet
.vscode
.idea
.vs
.idea
*.orig
*.rej
*.ldf
*proj.user
repository.config.json
coverage
artifacts
screenshots
bundles
changed-files.json

gulpfile.js/.eslintrc.js

JSDemos/Demos/**/config.js
JSDemos/Demos/**/azure.file.system.js
JSDemos/Demos/FileManager/AzureClientBinding/Angular/app/app.service.ts
JSDemos/Demos/FileUploader/AzureDirectUploading/Angular/app/app.service.ts

MVCDemos/App_Data/Northwind.mdf
MVCDemos/Content/icons
MVCDemos/Content/DevExtreme
MVCDemos/Content/Descr/Temp
MVCDemos/Content/demo-template.css
MVCDemos/Content/SampleData/SampleImages
MVCDemos/Scripts/*
!MVCDemos/Scripts/data
!MVCDemos/Scripts/signalr
!MVCDemos/Scripts/utils
!MVCDemos/Scripts/_references\.js
MVCDemos/App_Data/menuMeta.json
MVCDemos/packages
MVCDemos/Scripts/**/azure.file.system.js

NetCoreDemos/wwwroot/Descr/Temp
NetCoreDemos/wwwroot/bundle.min.css
NetCoreDemos/wwwroot/bundle.min.js
NetCoreDemos/wwwroot/js
NetCoreDemos/wwwroot/css/*
!NetCoreDemos/wwwroot/css/custom\.css
!NetCoreDemos/wwwroot/css/DemosStyles
NetCoreDemos/wwwroot/SampleData/SampleImages
NetCoreDemos/menuMeta.json
NetCoreDemos/wwwroot/bundle.min.css
NetCoreDemos/wwwroot/bundle.min.js
NetCoreDemos/wwwroot/**/azure.file.system.js
.DS_Store
