*       text eol=lf
*.mdf   binary

# images
*.gif   binary
*.jpg   binary
*.png   binary

# fonts
*.eot   binary
*.ttf   binary
*.woff  binary
*.woff2  binary

# verctor-map shape files
*.dbf   binary
*.shp   binary
*.shx   binary

# databases
*.mdf    binary
*.db     binary
*.sqlite binary
