# See http://help.github.com/ignore-files/ for more about ignoring files.

node_modules

bin
obj
lib
NuGet
.vscode
.vs
*.orig
*.rej
*.ldf
*proj.user
package-lock.json

*d.ts

utils/reposPaths.js

JSDemos/Demos/**/config.js

MVCDemos/App_Data/Northwind.mdf
MVCDemos/Content/icons
MVCDemos/Content/DevExtreme
MVCDemos/Content/Descr/Temp
MVCDemos/Content/demo-template.css
MVCDemos/Content/SampleData/SampleImages
MVCDemos/Scripts/*
!MVCDemos/Scripts/data
!MVCDemos/Scripts/signalr
!MVCDemos/Scripts/utils
!MVCDemos/Scripts/_references\.js
MVCDemos/App_Data/menuMeta.json
MVCDemos/packages

NetCoreDemos/wwwroot/Descr/Temp
NetCoreDemos/wwwroot/bundle.min.css
NetCoreDemos/wwwroot/bundle.min.js
NetCoreDemos/wwwroot/js
NetCoreDemos/wwwroot/css/*
!NetCoreDemos/wwwroot/css/DemosStyles
NetCoreDemos/wwwroot/SampleData/SampleImages
NetCoreDemos/menuMeta.json
NetCoreDemos/wwwroot/DemoShell
NetCoreDemos/DemoShell
NetCoreDemos/.editorconfig

