@using DevExtreme.MVC.Demos.Models.DataGrid

@model IEnumerable<Employee>

@(Html.DevExtreme().DataGrid<Employee>()
    .ID("gridContainer")
    .DataSource(Model, new[] { "ID" })
    .ShowBorders(true)
    .RowAlternationEnabled(true)
    .HoverStateEnabled(true)
    .DataRowTemplate(@<text>
        <tr role="row" class="main-row">
            <td role="gridcell" rowspan="2">
                <img src="<%- data.Picture %>" alt="Picture of <%- data.FirstName %> <%- data.LastName %>" tabindex="0"/>
            </td>
            <td role="gridcell"><%- data.Prefix %></td>
            <td role="gridcell"><%- data.FirstName %></td>
            <td role="gridcell"><%- data.LastName %></td>
            <td role="gridcell"><%- data.Position %></td>
            <td role="gridcell"><%- formatDate(new Date(data.BirthDate)) %></td>
            <td role="gridcell"><%- formatDate(new Date(data.HireDate)) %></td>
        </tr>
        <tr role="row" class="notes-row">
            <td role="gridcell" colspan="6">
                <div><%- data.Notes %></div>
            </td>
        </tr>
    </text>)
    .ColumnAutoWidth(true)
    .Columns(columns => {
        columns.AddFor(m => m.Picture)
            .Caption("Photo")
            .Width(100)
            .AllowFiltering(false)
            .AllowSorting(false);

        columns.AddFor(m => m.Prefix)
            .Width(70);

        columns.AddFor(m => m.FirstName);

        columns.AddFor(m => m.LastName);

        columns.AddFor(m => m.Position);

        columns.AddFor(m => m.BirthDate);

        columns.AddFor(m => m.HireDate);
    })
)
<script>
    var formatDate = new Intl.DateTimeFormat("en-US").format;
</script>
