@model IEnumerable<DevExtreme.MVC.Demos.Models.DataGrid.Employee>

@(Html.DevExtreme().TabPanel()
    .ID("tabPanel")
    .Height(472)
    .DataSource(Model.Where(i => i.ID <= 3))
    .ItemTitleTemplate(new JS("titleTemplate"))
    .ItemTemplate(@<text>
            <div class="employeeInfo">
                <img class="employeePhoto" src="<%- Picture %>"/>
                <p class="employeeNotes"><b>Position: <%- Position %></b><br/><%- Notes %></p>
            </div>
            <div class="caption"><%- FirstName %> <%- LastName  + "'" %>s Tasks:</div>
            @(Html.DevExtreme().DataGrid<DevExtreme.MVC.Demos.Models.EmployeeTask>()
                .ColumnAutoWidth(true)
                .ShowBorders(false)
                .RowAlternationEnabled(true)
                .ShowColumnLines(false)
                .Columns(columns => {
                    columns.AddFor(m => m.Subject);
                    columns.AddFor(m => m.StartDate).AllowHiding(true);
                    columns.AddFor(m => m.DueDate).AllowHiding(true);
                    columns.AddFor(m => m.Priority).DataType(GridColumnDataType.String);
                    columns.Add()
                        .Caption("Completed")
                        .DataType(GridColumnDataType.Boolean)
                        .CalculateCellValue(@"function(rowData) { return rowData.Status == ""Completed""; }");
                })
                .DataSource(d => d.WebApi()
                    .RouteName("DataGridMasterDetailView")
                    .LoadAction("TaskDetails")
                    .LoadParams(new { id = new JS("ID") })
                )
            )
        </text>)
    .DeferRendering(false)
    .ShowNavButtons(true)
    .RepaintChangesOnly(true)
    .AnimationEnabled(true)
    .SwipeEnabled(true)
    .OnInitialized("onInitialized")
    )

<script>
    function titleTemplate(itemData, itemIndex, itemElement) {
        itemElement.append(
            $("<span>")
                .text(`${itemData.FirstName} ${itemData.LastName}`)
        );
        itemElement.append(' ');
        itemElement.append(
            $("<i>")
                .addClass("dx-icon")
                .addClass("dx-icon-close")
                .click(function () { closeButtonHandler(itemData); })
        );
    }
</script>
