@section ExternalDependencies {
    <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script>
    <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
}

@(Html.DevExtreme().HtmlEditor()
    .ID("html_editor")
    .Height(300)
    .Content(@<text>
        <h2>
            <img src="../../images/widgets/HtmlEditor.svg" alt="HtmlEditor" />
            Formatted Text Editor (HTML Editor)
        </h2>
        <br>
        <p>
            DevExtreme JavaScript HTML Editor is a client-side WYSIWYG text editor that allows its users to format
            textual and visual content and store it as HTML or Markdown.
        </p>
    </text>)
    .OnValueChanged("valueChanged")
    .Toolbar(toolbar => toolbar.Items(
        items => {
            items.Add().Name(HtmlEditorToolbarItem.Undo);

            items.Add().Name(HtmlEditorToolbarItem.Redo);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add()
                .Name("size")
                .AcceptedValues(new[] { "8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt" });

            items.Add()
                .Name("font")
                .AcceptedValues(new[] { "Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana" });

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.Bold);

            items.Add().Name(HtmlEditorToolbarItem.Italic);

            items.Add().Name(HtmlEditorToolbarItem.Strike);

            items.Add().Name(HtmlEditorToolbarItem.Underline);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.AlignLeft);

            items.Add().Name(HtmlEditorToolbarItem.AlignCenter);

            items.Add().Name(HtmlEditorToolbarItem.AlignRight);

            items.Add().Name(HtmlEditorToolbarItem.AlignJustify);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.Color);

            items.Add().Name(HtmlEditorToolbarItem.Background);
        })
    )
)

<div class="options">
    @(Html.DevExtreme().ButtonGroup()
        .Items(items => {
            items.Add().Text("Html");
            items.Add().Text("Markdown");
        })
        .OnSelectionChanged("selectionChanged")
        .SelectedItemKeys(new[] { "Html" })
    )
    <div class="value-content"></div>
</div>

<script>
    function valueChanged(e) {
        $(".value-content").text(e.component.option("value"));
    }

    function selectionChanged(e) {
        var editorInstance = $("#html_editor").dxHtmlEditor("instance");
        editorInstance.option("valueType", e.addedItems[0].text.toLowerCase());
        $(".value-content").text(editorInstance.option("value"));
    }
</script>
