@section ExternalDependencies {
    <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script>
}

@(Html.DevExtreme().HtmlEditor()
    .ID("html-editor")
    .Height(750)
    .Value(new JS("markup"))
    .TableContextMenu(t => t.Enabled(true))
    .TableResizing(t => t.Enabled(true))
    .Toolbar(toolbar => toolbar.Items(
        items => {
            items.Add().Name(HtmlEditorToolbarItem.Bold);

            items.Add().Name(HtmlEditorToolbarItem.Color);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.AlignLeft);

            items.Add().Name(HtmlEditorToolbarItem.AlignCenter);

            items.Add().Name(HtmlEditorToolbarItem.AlignRight);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.InsertTable);

            items.Add().Name(HtmlEditorToolbarItem.InsertHeaderRow);

            items.Add().Name(HtmlEditorToolbarItem.InsertRowAbove);

            items.Add().Name(HtmlEditorToolbarItem.InsertRowBelow);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.InsertColumnLeft);

            items.Add().Name(HtmlEditorToolbarItem.InsertColumnRight);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.DeleteColumn);

            items.Add().Name(HtmlEditorToolbarItem.DeleteRow);

            items.Add().Name(HtmlEditorToolbarItem.DeleteTable);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.CellProperties);

            items.Add().Name(HtmlEditorToolbarItem.TableProperties);
        })
    )
)

<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        @(Html.DevExtreme().CheckBox()
            .Value(true)
            .Text("Allow Table Resizing")
            .OnValueChanged("change_tableResizing")
        )
    </div>
    <div class="option">
        @(Html.DevExtreme().CheckBox()
            .Value(true)
            .Text("Enable Table Context Menu")
            .OnValueChanged("change_tableContextMenu")
        )
    </div>
</div>

<script>
    function change_tableResizing(e) {
        $("#html-editor")
            .dxHtmlEditor("instance")
            .option("tableResizing.enabled", e.value);
    }

    function change_tableContextMenu(e) {
        $("#html-editor")
            .dxHtmlEditor("instance")
            .option("tableContextMenu.enabled", e.value);
    }

    var markup = `
        <h2>
            Hardware Upgrade
        </h2>
        <br>
        <table>
            <thead>
                <tr>
                    <th style="text-align: left;">Task Subject</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: right;">Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;">
                    <td style="text-align: left; width: 320px;">Approve Personal Computer Upgrade Plan</td>
                    <td style="text-align: center; color: #5cb85c;">
                        <p style="font-size: 1.15em;">✓</p>
                        <p>Completed</p>
                    </td>
                    <td style="text-align: right;">100%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left; width: 320px;">Prepare workspaces</td>
                    <td style="text-align: center; color: #5cb85c;">
                        <p style="font-size: 1.15em;">✓</p>
                        <p>Completed</p>
                    </td>
                    <td style="text-align: right;">100%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left; width: 320px;">Upgrade Server Hardware</td>
                    <td style="text-align: center;">
                        <p style="font-size: 1.15em;">⟳</p>
                        <p>In Progress</p>
                    </td>
                    <td style="text-align: right;">45%</td>
                </tr>     
                <tr style="text-align: center;">
                    <td style="text-align: left; width: 320px;">Upgrade Personal Computers</td>
                    <td style="text-align: center; color: #f0ad4e;">
                        <p style="font-size: 1.15em;">‖</p>
                        <p>Need Assistance</p>
                    </td>
                    <td style="text-align: right;">80%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left;">Replace HDD with SSD</td>
                    <td style="text-align: center;">
                        <p style="font-size: 1.15em;">⟳</p>
                        <p>In Progress</p>
                    </td>
                    <td style="text-align: right;">80%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left;">Purchase a New Server</td>
                    <td style="text-align: center; color: #d9534f;">
                        <p style="font-size: 1.15em;">✖</p>
                        <p>Canceled</p>
                    </td>
                    <td style="text-align: right;">15%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left;">Purchase Laptops</td>
                    <td style="text-align: center; color: #5cb85c;">
                        <p style="font-size: 1.15em;">✓</p>
                        <p>Completed</p>
                    </td>
                    <td style="text-align: right;">100%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left;">Prepare a list of necessary devices for testing</td>
                    <td style="text-align: center; color: #5cb85c;">
                        <p style="font-size: 1.15em;">✓</p>
                        <p>Completed</p>
                    </td>
                    <td style="text-align: right;">100%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left;">Purchase devices for testing</td>
                    <td style="text-align: center; color: #f0ad4e;">
                        <p style="font-size: 1.15em;">‖</p>
                        <p>Need Assistance</p>
                    </td>
                    <td style="text-align: right;">25%</td>
                </tr>
                <tr style="text-align: center;">
                    <td style="text-align: left;">Recycle Broken Hardware</td>
                    <td style="text-align: center; color: #5cb85c;">
                        <p style="font-size: 1.15em;">✓</p>
                        <p>Completed</p>
                    </td>
                    <td style="text-align: right;">100%</td>
                </tr>
            </tbody>
        </table>
        <br>
    `;
</script>
