@model DevExtreme.MVC.Demos.ViewModels.SchedulerResourcesViewModel
@{
    var resourcesList = new[] { "Assignee", "Room", "Priority" };
}

@(Html.DevExtreme().Scheduler()
    .ID("scheduler")
    .DataSource(Model.Appointments)
    .TimeZone("America/Los_Angeles")
    .Views(new[] { SchedulerViewType.WorkWeek })
    .CurrentView(SchedulerViewType.WorkWeek)
    .CurrentDate(new DateTime(2021, 4, 27))
    .StartDayHour(9)
    .EndDayHour(19)
    .Resources(res => {
        res.Add()
            .FieldExpr("RoomId")
            .ValueExpr("Id")
            .ColorExpr("Color")
            .Label("Room")
            .DisplayExpr("Text")
            .DataSource(Model.Rooms);

        res.Add()
            .FieldExpr("PriorityId")
            .ValueExpr("Id")
            .ColorExpr("Color")
            .Label("Priority")
            .DisplayExpr("Text")
            .DataSource(Model.Priorities);

        res.Add()
            .FieldExpr("AssigneeId")
            .ValueExpr("Id")
            .ColorExpr("Color")
            .Label("Assignee")
            .DisplayExpr("Text")
            .AllowMultiple(true)
            .DataSource(Model.Assignees);
    })
    .Height(600)
    .TextExpr("Text")
    .StartDateExpr("StartDate")
    .EndDateExpr("EndDate")
    .AllDayExpr("AllDay")
    .RecurrenceRuleExpr("RecurrenceRule")
    .RecurrenceExceptionExpr("RecurrenceException")
)

<div class="options">
    <div class="caption">Use colors of:</div>
    <div class="option">
        @(Html.DevExtreme().RadioGroup()
            .Items(resourcesList)
            .Value(resourcesList[0])
            .Layout(Orientation.Horizontal)
            .OnValueChanged("resources_valueChanged")
        )
    </div>
</div>

<script>
    function resources_valueChanged(e) {
        var scheduler = $("#scheduler").dxScheduler("instance"),
            resources = scheduler.option("resources");

        for(var i = 0; i < resources.length; i++) {
            resources[i].useColorAsDefault = resources[i].label == e.value;
        }

        scheduler.repaint();
    }
</script>
