<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AzureStorageAccountName" value="aspxdemos"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureStorageAccessKey" value="VLyir1DrscXGJqW/QNl0Aeg4YQZjYVXVvZPGo+7M84XzEq+Ib9rLkdSMtHFDsvvohw1lMCR7rprwQBbxBrKiuQ=="
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureFileManagerBlobContainerName" value="filemanagerdemo"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureFileUploaderBlobContainerName" value="uploadcontroldemo"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="Northwind"
      connectionString="Persist Security Info=true;User ID=demos;Password=demos;Initial Catalog=NWind;Data Source=demosdbserver\DEMOS;APP=DevExtreme MVC (SQLite)"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="FileManagement"
      connectionString="Persist Security Info=true;User ID=demos;Password=demos;Initial Catalog=FileManagement;Data Source=demosdbserver\DEMOS;APP=DevExtreme MVC (SQLite)"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Replace">
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer> 
</configuration>
