@model DevExtreme.MVC.Demos.ViewModels.DropDownButtonViewModel

@{
    var toolbarModes = new [] { "Multiline mode", "Singleline mode" };
    var listTypes = new [] {
        new { icon = "orderedlist", alignment = "orderedlist", hint = "Ordered" },
        new { icon = "bulletlist", alignment = "bulletlist", hint = "Bullet" }
    };
}

<div>
    <div class="widget-container">
        @(Html.DevExtreme().Sortable()
            .MinWidth(500)
            .MinHeight(150)
            .MaxHeight(370)
            .Handles("right")
            .Area(".widget-container")
            .Content(
                Html.DevExtreme().Toolbar()
                    .ID("toolbar")
                    .Multiline(false)
                    .Items(items => {
                        items
                            .Add()
                            .Widget(w => w
                                .Button()
                                .Icon("undo")
                                .OnClick("undoButtonClick")
                            )
                            .Location(ToolbarItemLocation.Before);
                        
                        items
                            .Add()
                            .Widget(w => w
                                .Button()
                                .Icon("redo")
                                .OnClick("redoButtonClick")
                            )
                            .Location(ToolbarItemLocation.Before);
                        
                        items
                            .Add()
                            .CssClass("toolbar-separator-container")
                            .Template(new TemplateName("separator-template"))
                            .MenuItemTemplate(new TemplateName("menu-separator-template"))
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .DropDownButton()
                                .DisplayExpr("Text")
                                .KeyExpr("Size")
                                .SelectedItemKey("14")
                                .UseSelectMode(true)
                                .DataSource(Model.FontSizes)
                                .OnSelectionChanged("changeSize")
                                .ItemTemplate(@<text><div style="font-size: <%- Text %>;"><%- Text %></div></text>)
                            )
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .DropDownButton()
                                .DisplayExpr("Text")
                                .KeyExpr("LineHeight")
                                .SelectedItemKey("1.35")
                                .StylingMode(ButtonStylingMode.Text)
                                .UseSelectMode(true)
                                .DataSource(Model.LineHeights)
                                .Icon("indent")
                                .OnSelectionChanged("changeLineHeight")
                            )
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .SelectBox()
                                .Placeholder("Font")
                                .DisplayExpr("Text")
                                .DataSource(new[] {
                                    new { text = "Arial" },
                                    new { text = "Courier New" },
                                    new { text = "Georgia" },
                                    new { text = "Impact" },
                                    new { text = "Lucida Console" },
                                    new { text = "Tahoma" },
                                    new { text = "Times New Roman" },
                                })
                            )
                            .Location(ToolbarItemLocation.Before);
                        
                        items
                            .Add()
                            .CssClass("toolbar-separator-container")
                            .Template(new TemplateName("separator-template"))
                            .MenuItemTemplate(new TemplateName("menu-separator-template"))
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .ButtonGroup()
                                .DisplayExpr("Text")
                                .KeyExpr("Style")
                                .StylingMode(EditorStylingMode.Outlined)
                                .SelectionMode(ListSelectionMode.Multiple)
                                .Items(items => {
                                    items.Add().Icon("bold").Hint("Bold").Option("style", "bold");
                                    items.Add().Icon("italic").Hint("Italic").Option("style", "italic");
                                    items.Add().Icon("underline").Hint("Underlined").Option("style", "underline");
                                    items.Add().Icon("strike").Hint("Strikethrough").Option("style", "strike");
                                })
                                .OnItemClick("buttonGroupItemClick")
                            )
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Template(new TemplateName("separator-template"))
                            .Location(ToolbarItemLocation.Before);
                        
                        items
                            .Add()
                            .CssClass("dx-toolbar-hidden-button-group")
                            .Template(new TemplateName("text-align-template"))
                            .MenuItemTemplate(new TemplateName("text-align-menu-template"))
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .ButtonGroup()
                                .Items(listTypes)
                                .KeyExpr("alignment")
                                .StylingMode(EditorStylingMode.Outlined)                            
                                .OnItemClick("buttonGroupItemClick")
                            )
                            .DisplayExpr("Text")
                            .Location(ToolbarItemLocation.Before);
                        
                        items
                            .Add()
                            .CssClass("toolbar-separator-container")
                            .Template(new TemplateName("separator-template"))
                            .MenuItemTemplate(new TemplateName("menu-separator-template"))
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .DateBox()
                                .Type(DateBoxType.Date)
                                .Width(200)
                                .Value(new DateTime(2022, 9, 7))
                            )
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);
                        
                        items
                            .Add()
                            .CssClass("toolbar-separator-container")
                            .Template(new TemplateName("separator-template"))
                            .MenuItemTemplate(new TemplateName("menu-separator-template"))
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);

                        items
                            .Add()
                            .Widget(w => w
                                .CheckBox()
                                .Value(true)
                                .Text("Checkbox text")
                                .OnOptionChanged("onOptionChanged")
                            )
                            .ShowText(ToolbarItemShowTextMode.InMenu)
                            .Location(ToolbarItemLocation.Before)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);
                            
                        items
                            .Add()
                            .Widget(w => w
                                .Button()
                                .Icon("attach")
                                .Text("Attach")
                                .OnClick("attachButtonClick")
                            )
                            .ShowText(ToolbarItemShowTextMode.InMenu)
                            .Location(ToolbarItemLocation.After);
                            
                        items
                            .Add()
                            .Widget(w => w
                                .Button()
                                .Icon("add")
                                .Text("Add")
                                .OnClick("addButtonClick")
                            )
                            .ShowText(ToolbarItemShowTextMode.InMenu)
                            .Location(ToolbarItemLocation.After)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);
                            
                        items
                            .Add()
                            .Widget(w => w
                                .Button()
                                .Icon("trash")
                                .Text("Remove")
                                .OnClick("removeButtonClick")
                            )
                            .ShowText(ToolbarItemShowTextMode.InMenu)
                            .Location(ToolbarItemLocation.After)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);
                            
                        items
                            .Add()
                            .Widget(w => w
                                .Button()
                                .Icon("help")
                                .Text("About")
                                .OnClick("aboutButtonClick")
                            )
                            .ShowText(ToolbarItemShowTextMode.InMenu)
                            .Location(ToolbarItemLocation.After)
                            .LocateInMenu(ToolbarItemLocateInMenuMode.Auto);
                    }
                )
            )
        )
    </div>

    <div class="options-container">
        <div class="caption">Options</div>

        @(Html.DevExtreme().RadioGroup()
            .ID("toolbar-modes")
            .Layout(Orientation.Horizontal)
            .Items(toolbarModes)
            .Value(toolbarModes[1])
            .OnValueChanged("toolbarModesValueChanged"))
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("separator-template")) {
    <div class="toolbar-separator"></div>
}

@using (Html.DevExtreme().NamedTemplate("menu-separator-template")) {
    <div class="toolbar-menu-separator"></div>
}

@using (Html.DevExtreme().NamedTemplate("text-align-template")) {
    @(Html.DevExtreme().ButtonGroup()
        .KeyExpr("Style")
        .StylingMode(ButtonStylingMode.Text)
        .Items(new [] {
            new { icon = "alignleft", alignment = "left", hint = "Align left" },
            new { icon = "aligncenter", alignment = "center", hint = "Center" },
            new { icon = "alignright", alignment = "right", hint = "Align right" },
            new { icon = "alignjustify", alignment = "justify", hint = "Justify" },
        })
        .SelectedItemKeys(new[] { "left" })
        .OnItemClick("buttonGroupItemClick"));
}

@using (Html.DevExtreme().NamedTemplate("text-align-menu-template")) {
    @(Html.DevExtreme().ButtonGroup()
        .KeyExpr("Style")
        .StylingMode(ButtonStylingMode.Text)
        .Items(new [] {
            new { icon = "alignleft", alignment = "left", hint = "Align left", text = "Align left" },
            new { icon = "aligncenter", alignment = "center", hint = "Center", text = "Center" },
            new { icon = "alignright", alignment = "right", hint = "Align right", text = "Align right" },
            new { icon = "alignjustify", alignment = "justify", hint = "Justify", text = "Justify" },
        })
        .SelectedItemKeys(new[] { "left" })
        .OnItemClick("buttonGroupItemClick"));
}

<script>
    function toolbarModesValueChanged(data) {
        var toolbar = $("#toolbar").dxToolbar("instance");
        toolbar.option("multiline", data.value === toolbarModes[0]);

        var toolbar-modesInstance = $("#toolbar-modes").RadioGroup("instance");
        toolbar-modesInstance.option("value", data.value);
    }

    function changeSize(e) {
        $("#text").css("font-size", e.item.Text);
    }

    function changeLineHeight(e) {
        $("#text").css("line-height", e.item.Value);
    }

    function buttonGroupItemClick(e) {
        DevExpress.ui.notify({ message: `The "${e.itemData.hint}" button was clicked`, width: 320 }, "success", 1000);
    }

    function undoButtonClick() {
        DevExpress.ui.notify("Undo button has been clicked!");
    }

    function attachButtonClick() {
        DevExpress.ui.notify("Attach button has been clicked!");
    }

    function addButtonClick() {
        DevExpress.ui.notify("Add button has been clicked!");
    }

    function removeButtonClick() {
        DevExpress.ui.notify("Remove button has been clicked!");
    }

    function aboutButtonClick() {
        DevExpress.ui.notify("About button has been clicked!");
    }

    function onOptionChanged() {
        DevExpress.ui.notify("Checkbox option has been changed!");
    }
</script>
