.item-template-container {
  display: flex;
  align-items: center;
}

.dx-context-menu .dx-menu-item .dx-menu-item-content {
  display: block;
}

.dx-menu-item-content span:not(.dx-icon-spinright) {
  margin-right: 6px;
}

.dx-menu-item-content span:not(.dx-menu-item-text) {
  font-size: 20px;
}

.dx-menu-item-text {
  flex-grow: 1;
}

#image {
  height: 300px;
}

.label {
  color: #767676;
}
