#icon-back, #icon-disabled-back {
    margin-left: 4px;
}

.send .dx-button-content .dx-icon {
    font-size: 18px;
}

.fields-container {
    display: flex;
    align-items: baseline;
}

.dx-field-value {
    display: flex;
}