::ng-deep #tabs-demo {
  display: flex;
  min-height: 450px;
  justify-content: space-between;
}

::ng-deep .widget-container {
  align-items: center;
  flex-grow: 1;
  padding: 16px 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

::ng-deep .options {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  width: 260px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .tabs-container:not(:last-child) .dx-tabs-horizontal {
  margin-bottom: 80px;
}

::ng-deep .tabs-container:not(:last-child) .dx-tabs-vertical {
  margin-right: 80px;
}

::ng-deep .dx-tab {
  width: 135px;
}

::ng-deep .tabs-container {
  display: flex;
  max-width: 675px;
}

::ng-deep .caption {
  font-weight: 500;
  font-size: 18px;
}

::ng-deep #show-navigation-buttons {
  margin-top: 22px;
}

::ng-deep .option {
  margin-top: 20px;
}

::ng-deep .dx-tabs-horizontal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

::ng-deep .dx-tabs-vertical {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

::ng-deep .dx-color-scheme-light .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-carmine .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-dark .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-greenmist .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-darkmoon .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-darkviolet .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-softblue .dx-tabs-horizontal {
  border-bottom: unset;
}

::ng-deep .dx-color-scheme-blue-dark .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-orange-dark .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-teal-dark .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-lime-dark .dx-tabs-horizontal,
::ng-deep .dx-color-scheme-purple-dark .dx-tabs-horizontal {
  border-bottom: 1px solid rgb(81, 81, 89);
}

::ng-deep .dx-color-scheme-light .dx-tabs-vertical,
::ng-deep .dx-color-scheme-carmine .dx-tabs-vertical,
::ng-deep .dx-color-scheme-dark .dx-tabs-vertical,
::ng-deep .dx-color-scheme-greenmist .dx-tabs-vertical,
::ng-deep .dx-color-scheme-darkmoon .dx-tabs-vertical,
::ng-deep .dx-color-scheme-darkviolet .dx-tabs-vertical,
::ng-deep .dx-color-scheme-softblue .dx-tabs-vertical {
  border-right: unset;
}

::ng-deep .dx-color-scheme-blue-dark .dx-tabs-vertical,
::ng-deep .dx-color-scheme-orange-dark .dx-tabs-vertical,
::ng-deep .dx-color-scheme-teal-dark .dx-tabs-vertical,
::ng-deep .dx-color-scheme-lime-dark .dx-tabs-vertical,
::ng-deep .dx-color-scheme-purple-dark .dx-tabs-vertical {
  border-right: 1px solid rgb(81, 81, 89);
}
