::ng-deep .item-template-container {
  display: flex;
  align-items: center;
}

::ng-deep .dx-context-menu .dx-menu-item .dx-menu-item-content {
  display: block;
}

::ng-deep .dx-menu-item-content span:not(.dx-icon-spinright) {
  margin-right: 6px;
}

::ng-deep .dx-menu-item-content span:not(.dx-menu-item-text) {
  font-size: 20px;
}

::ng-deep .dx-menu-item-text {
  flex-grow: 1;
}

::ng-deep #image {
  height: 300px;
}

::ng-deep .label {
  color: #767676;
}
