<dx-scheduler
    [dataSource]="appointments"
    [height]="600"
    [views]="[{
        type: 'day',
        groupOrientation: 'vertical',
        name: '3 Days',
        intervalCount: 3
    }, {
        type: 'workWeek',
        name: 'Work Week',
        groupOrientation: 'vertical'
    }, {
        type: 'month',
        groupOrientation: 'vertical'
    }]"
    currentView="3 Days"
    [currentDate]="currentDate"
    [startDayHour]="9"
    [endDayHour]="18"
    [scrolling]="{ mode: 'virtual' }"
    [showAllDayPanel]="false"
    [groups]="['humanId']"
    [resources]="[{
        fieldExpr: 'humanId',
        dataSource: resources
    }]"
    >
</dx-scheduler>