::ng-deep #content-wrapper {
  height: 600px;
  display: grid;
  grid-template-areas:
    'title title title title options'
    'name birthDate birthDate birthDate options'
    'address state phone phone options'
    'hireDate range range range options'
    'notes notes notes notes options'
    '. . . validate options'
    '. . . . options';
  grid-template-rows: auto auto auto auto auto auto 1fr;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 20px;
}

::ng-deep .title {
  grid-area: title;
  font-size: 18px;
  font-weight: 500;
}

::ng-deep #name {
  grid-area: name;
}

::ng-deep #address {
  grid-area: address;
}

::ng-deep #birth-date {
  grid-area: birthDate;
}

::ng-deep #state {
  grid-area: state;
}

::ng-deep #phone {
  grid-area: phone;
}

::ng-deep #hire-date {
  grid-area: hireDate;
}

::ng-deep #notes {
  grid-area: notes;
}

::ng-deep #vacation-dates {
  grid-area: range;
}

::ng-deep #validate {
  grid-area: validate;
}

::ng-deep .options {
  grid-area: options;
  padding: 20px;
  margin-left: 20px;
  width: 260px;
  background-color: rgba(191, 191, 191, 0.15);
}
