::ng-deep #icon-back,
#icon-disabled-back {
  margin-left: 4px;
}

::ng-deep .send .dx-button-content .dx-icon {
  font-size: 18px;
}

::ng-deep .fields-container {
  display: flex;
  align-items: baseline;
}

::ng-deep .dx-field-value {
  display: flex;
}
