<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @await Html.PartialAsync("~/DemoShell/Views/_DocumentDomain.cshtml")
    @RenderSection("ExternalDependencies", false)
    @await Html.PartialAsync("~/DemoShell/Views/_DemoResources.cshtml")

    <script>
        DevExpress.devices.current("@DemoUtils.GetCurrentDevice(Context)");
    </script>

    @RenderSection("Localization", false)
</head>
<body class="dx-viewport">
    <div class="demo-container">
        @RenderBody()
    </div>
</body>
</html>
