#tabs-demo {
  display: flex;
  min-height: 450px;
}

.widget-container {
  align-items: center;
  flex-grow: 1;
  padding: 16px 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 200px;
  overflow: clip;
}

.options {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  width: 260px;
  background-color: rgba(191, 191, 191, 0.15);
}

.dx-tabs-horizontal:not(:last-child) {
  margin-bottom: 80px;
}

.dx-tabs-vertical:not(:last-child) {
  margin-right: 80px;
}

.dx-tab {
  width: 138px;
}

.dx-tabs {
  display: flex;
  max-width: 100%;
}

.caption {
  font-weight: 500;
  font-size: 18px;
}

#show-navigation-buttons {
  margin-top: 22px;
}

.option {
  margin-top: 20px;
}

.dx-tabs-horizontal {
  border-bottom: 1px solid rgb(225, 225, 225, 0.4);
}

.dx-tabs-vertical {
  border-right: 1px solid rgb(225, 225, 225, 0.4);
}
