@model IEnumerable<DevExtreme.NETCore.Demos.Models.TileViewItem>

@(Html.DevExtreme().TileView()
    .DataSource(Model)
    .ItemTemplate(@<text>
        <div class="image" style="background-image: url(<%- ImageSrc %>)"></div>
    </text>)
)
