<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label multiline-label">
      <span>Range selection</span>
      <div class="selected-days-wrapper">
        <span>Days selected: </span>
        <span>{{ selectedDays }}</span>
      </div>
    </div>
    <div class="dx-field-value">
      <dx-date-range-box
        [(value)]="currentValue"
        (onValueChanged)="currentValueChanged($event)"
        [inputAttr]="{ 'aria-label': 'Default range' }"
      >
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Custom format</div>
    <div class="dx-field-value">
      <dx-date-range-box
        [value]="initialValue"
        displayFormat="EEEE, MMM dd"
        [inputAttr]="{ 'aria-label': 'Custom format' }"
      >
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Use buttons to apply value</div>
    <div class="dx-field-value">
      <dx-date-range-box
        applyValueMode="useButtons"
        [inputAttr]="{ 'aria-label': 'Apply value' }"
      >
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Single view</div>
    <div class="dx-field-value">
      <dx-date-range-box
        [multiView]="false"
        [inputAttr]="{ 'aria-label': 'Single view' }"
      >
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Open by icon click only</div>
    <div class="dx-field-value">
      <dx-date-range-box
        [openOnFieldClick]="false"
        [inputAttr]="{ 'aria-label': 'Open on icon click' }"
      >
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Access current month only</div>
    <div class="dx-field-value">
      <dx-date-range-box
        [min]="min"
        [max]="max"
        [inputAttr]="{ 'aria-label': 'Current month only' }"
      >
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Clear button</div>
    <div class="dx-field-value">
      <dx-date-range-box
        [showClearButton]="true"
        [value]="initialValue"
        [inputAttr]="{ 'aria-label': 'Clear Date' }"
      >
      </dx-date-range-box>
    </div>
  </div>
</div>
